# Jupyter
.ipynb_checkpoints/

# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environments
venv/
.venv/
env/
ENV/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Python distribution
*.egg-info/
dist/
build/test_dead_keanal.ipynb
/test_dead_keanal.ipynb
